
                <!-- menu de recorridos cercanos a un punto -->
                <div class="panel-default" ng-controller="mapTripByCentralityController">
                    <div uib-accordion-group class="panel-primary" heading="Recorridos dada una centralidad" is-open="openMenuTripsByCentrality">
                      <form>
                            <div class="text-center form-group" ng-hide="">
                                <label><input type="checkbox" ng-disabled="!existsTrips" ng-model="selectTripByCentrality.checkbox" ng-change="toogleViewTrips()" > Ocultar capa de recorridos</label>
                            </div>
                            <div class="text-center form-group" ng-hide="selectedCentrality.name">
                                <label>Seleccione una centralidad...</label>
                            </div>
                            <div class="text-center form-group" ng-show="selectedCentrality.name">
                                <label>Centralidad seleccionada:</label>
                                <p>Nombre: [[selectedCentrality.name == '' ? 'No seleccionado' : selectedCentrality.name]]</p>
                                <p>Descripcion: [[selectedCentrality.location == '' ? 'No seleccionado' : selectedCentrality.location]]</p>
                            </div>

                            <div class=" text-center btn-group" ng-hide="!selectedCentrality.name">
                                <!-- <button  class="btn-sm btn-default" ng-click="getTripsToSelectedCentrality()" ng-disabled="!selectedCentrality.name">Buscar</button> -->
                                <button  class="btn btn-primary" ng-click="getTripsToSelectedCentrality()" ng-disabled="!selectedCentrality.name">Buscar</button>
                                <!-- <button class="btn-sm btn-info" ng-disabled="!selectedCentrality.name" uib-tooltip="Limpiar" ng-click="resetLayerToSelectedCentrality()">
                                  <span class="glyphicon glyphicon-remove" ></span>
                                </button> -->
                                <button class="btn btn-primary" ng-disabled="!selectedCentrality.name" ng-click="resetLayerToSelectedCentrality()">Limpiar</button>
                            </div>

                      </form>
                    </div>
                </div>
