
<div class="panel-default" ng-controller="mapTripsRankingController">
  <div uib-accordion-group class="panel-primary" heading="Recorridos ponderados" is-open="openMenuRankingTrip">
    <form>
        <div class="text-center form-group">
            <div>
                <label>
                  <input type="checkbox" ng-disabled="!enableChecbox" ng-model="toogleViewTripsRanking" ng-change= "viewLayerTripsRanking()" > Ocultar recorridos
                </label>
            </div>
            <br>
            <div class="text-center form-group">
                <label> Minimo (Ponderacion):</label>
                <input type="number" ng-model="pondMin" min="0" max="15000" step="50" value="100">
            </div>
            <div class="text-center form-group">
                <label> Maximo (Ponderacion):</label>
                <input type="number" ng-model="pondMax" min="0" max="15000" step="50" value="500">
            </div>
            <div class="text-center form-group">
                <button class="btn btn-primary" ng-click="findTripsRanking()">Ver recorridos</button>
                <button class="btn btn-primary" ng-click="resetlayer()">Limpiar</button>
            </div>
        </div>
    </form>
  </div>
</div>
