<div class="panel-default" ng-controller="mapTripBetweenZoneController">
    <div uib-accordion-group class="panel-primary" heading="Zona de origen a destino" is-open="openMenuTripFinder">
        <div class="panel-body" ng-controller="mapTripBetweenZoneController">
            <form>
                <div>
                    <div class="text-center form-group">
                        <label>
                            <input type="checkbox" ng-disabled="!existTripsToShow" ng-model="selectedLayer" ng-change="viewLayerTripsBetweenZone()" > Ocultar recorridos desde zona origen a zona destino
                        </label>
                    </div>
                    <div class="input-group">
                        <input type="text" ng-model="selectedOrigin" placeholder="Zona de origen" uib-typeahead="zone as zone.name for zone in getZones() | filter:{name:$viewValue} | limitTo:8" typeahead-on-select="selectZoneOrigin()" class="form-control">
                        <div class="input-group-btn">
                            <button class="btn btn-success" ng-hide="" uib-tooltip="Seleccionar zona de origen" ng-disabled="" ng-click="selectZoneOriginView()">
                                <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="input-group">
                        <input type="text" ng-model="selectedDestination" placeholder="Zona de destino" uib-typeahead="zone as zone.name for zone in getZones() | filter:{name:$viewValue} | limitTo:8" typeahead-on-select="selectZoneDestination()" class="form-control">
                        <div class="input-group-btn">
                            <button class="btn btn-danger" ng-hide="" uib-tooltip="Seleccionar zona de destino" ng-disabled="" ng-click="selectZoneDestinationView()">
                                <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="text-center btn-group-sm">
                        <button type="button" ng-disabled="(selectedOrigin == undefined) || (selectedDestination == undefined)" class="btn btn-default" ng-click="findTripsBetweenZones()">Ver recorridos</button>
                        <button class="btn btn-primary" ng-click="resetLayerBetweenZone()">Limpiar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
