
                <!-- menu de zonas -->
                <div class="panel-default" ng-controller="mapZoneController">
                    <div uib-accordion-group class="panel-primary" heading="Zonas" is-open="false">
                        <form>
                            <div>
                                <label>
                                  <input type="checkbox"  ng-click="toogleZonesLayer()" > Ver todas
                                </label>
                            </div>

                            <div class="checkbox" ng-repeat="zone in zonesJson">
                                <label>
                                   <input type="checkbox" checklist-model="zonesJson"  checklist-value="zone.id" ng-model="zone.selected" ng-change= "selectZone(zone.name, zone)"> [[zone.name]]
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
