<!-- Pantalla de la opcion "Sign in" que se encuentra en la barra de navegacion -->
<div class="wrapper">
  <form class="form-signin">
    <h2 class="form-signin-heading">Inicio de sesion</h2>
    <input type="text" class="form-control" name="username" placeholder="Email" required="" autofocus="" />
		<label> </label>
    <input type="password" class="form-control" name="password" placeholder="Contraseña" required=""/>
    <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe">
    <label for="rememberMe">Recordar</label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar</button>
  </form>
</div>
