<!-- Pantalla de la opcion "Registro de usuarios" que se encuentra en la barra de navegacion -->

<div class="wrapper">
  <form class="form-signin">
    <h2 class="form-signin-heading">Crea tu cuenta</h2>
    <input type="text" class="form-control" name="username" placeholder="Nombre" required="" autofocus="" />
    <label></label>
    <input type="text" class="form-control" name="username" placeholder="Apellido" required="" />
        <label></label>
    <input type="text" class="form-control" name="username" placeholder="Email" required="" />
    <label></label>
    <input type="password" class="form-control" name="Contraseña" placeholder="Contraseña" required=""/>
        <label></label>
    <input type="password" class="form-control" name="Confirmacion" placeholder="Confirmar contraseña" required=""/>
    <label></label>

    <button class="btn btn-lg btn-success btn-block" type="submit">Registrar</button>
  </form>
</div>
