<!-- componentes que determinan las tabs que se muestran en la pantalla de inicio de la app -->
<div class="container-fluid col-xs-12 col-md-12" ng-controller="ControllerBootstrap">

  <div class="panel col-xs-12 col-md-3">
    <h3 class="center"> Cuadro compresible</h3>
    <button type="button" class="btn btn-default" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal">Colapsar</button>
  	<hr>
  	<div class="horizontal-collapse" uib-collapse="isCollapsedHorizontal" horizontal>
  		<div class="well well-lg">Opciones e info.</div>
  	</div>
    <!-- <uib-tabset active="activePill" vertical="true" type="pills">
          <uib-tab ng-repeat="tab in tabs" heading="[%tab.title%]"
          active="true" href="[%tab.url%]" justified="true">
            <div class="panel-default" heading="Busqueda de recorridos" ng-include="tab.template"></div>
          </uib-tab>
    </uib-tabset> -->
  </div>

  <!-- Contenedor del mapa -->
  <div id="containerMap" class="panel col-md-9">
    <!-- <openlayers lat=[%latitude%] lon=[%longitude%] zoom=[%zoom%] width="840px" height="400px"></openlayers> -->
    <openlayers lat=[%latitude%] lon=[%longitude%] zoom=[%zoom%] width="100%" height="480px"></openlayers>
    <!-- <h2>Ciclovias_Free</h2> -->
  </div>

</div>
