<!-- componentes que determinan las tabs que se muestran en la pantalla de inicio de la app -->
<!-- Contenedor del mapa -->

<div class="container-fluid" id="cont">
    <div class="row row-offcanvas row-offcanvas-left" id="row-offcanvas">
        <!-- Panel de control -->
        <nav class="col-sm-3 sidebar-offcanvas" id="sidebar">

            <uib-accordion close-others="true">

                    <!-- Se agrego uib-accordion que se utiliza para los menues retractiles. -->
                    <div uib-accordion-group class="panel-primary" heading="Centralidades" is-open="true">
                        <!-- <div class="panel-body" ng-controller="mapCentralityController"> -->
                        <div class="panel-body" >
                            <form>
                                <div>
                                    <label>
                                  <!-- <input type="checkbox" ng-model="checkboxModel.centralitiesValue" ng-change= "toogleCentralitiesLayer()"> VER TODAS -->
                                  <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"> VER TODAS
                                </label>
                                </div>
                                <div class="checkbox" ng-repeat="centrality in centralitiesJson">
                                    <label>
                                        <!-- <input type="checkbox" checklist-model="centrality.name"  checklist-value="centrality.id" > [[centrality.name]] -->
                                        <input type="checkbox" ng-model="centrality.selected" ng-change= "selectCentrality(centrality)" > [[centrality.name]]
                                        <!-- checklist-model="zonesJson"  checklist-value="zone.id" ng-model="selectedZone" ng-change= "selectZone(zone.name)"> [[zone.name]] -->
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div uib-accordion-group class="panel-primary" heading="Gestion de Centralidades">
                        <!-- <div class="panel-body" ng-controller="mapCentralityEditController"> -->
                        <div class="panel-body" >
                            <form>
                                <div class="text-center form-group">
                                    <button class="btn btn-primary" ng-disabled="isSelecting" ng-click="centralitySelection()">Agregar Centralidad</button>
                                </div>
                                <div class="container form-group" ng-hide="!isSelecting && !isEditing">
                                    <p>Punto Seleccionado:</p>
                                    <p>Latitud: [[newCentrality.latitude == 0 ? 'No seleccionado' : newCentrality.latitude]]</p>
                                    <p>Longitud: [[newCentrality.longitude == 0 ? 'No seleccionado' : newCentrality.longitude]]</p>
                                </div>
                                <div class="form-group text-center" ng-hide="!isSelecting && !isEditing">
                                    <input class="form-control" type="text" ng-model="newCentrality.name" placeholder="Ingrese el nombre">
                                    <input class="form-control" type="text" ng-model="newCentrality.location" placeholder="Ingrese una descripcion">
                                </div>
                                <div class="text-center form-group" ng-hide="!isSelecting && !isEditing">
                                    <!-- Se utilizo el uib-tooltip para establecer el cartel que saldra al poner el cursor sobre cada boton. -->
                                    <!-- ng-hide -> oculta un segmento o elemento si la expresion es true. -->
                                    <!-- ng-disable -> desactiva un segmento o elemento si la expresion es true. -->
                                    <button class="btn btn-success" ng-hide="!isEditing" uib-tooltip="Actualizar" ng-disabled="!isEditing || !newCentrality.name || !newCentrality.location || !newCentrality.latitude || !newCentrality.longitude" ng-click="centralityUpdate()">
                                              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                          </button>
                                    <button class="btn btn-success" ng-hide="!isSelecting" uib-tooltip="Guardar" ng-disabled="!isSelecting || !newCentrality.name || !newCentrality.location || !newCentrality.latitude || !newCentrality.longitude" ng-click="centralitySave()">
                                              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                          </button>
                                    <button class="btn btn-info" ng-disabled="!isSelecting && !isEditing" uib-tooltip="Cancelar" ng-click="centralityCancel()">
                                              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                          </button>
                                    <button class="btn btn-danger" ng-disabled="!isEditing" uib-tooltip="Eliminar" ng-click="centralityDelete()">
                                              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                          </button>
                                </div>
                            </form>
                        </div>
                    </div>


                <!-- <div uib-accordion-group class="panel-primary" heading="Zonas" is-open="false">
                    <div class="panel-body" ng-controller="mapZoneController">
                        <form>
                            <div>
                                <label><input type="checkbox" ng-model="checkboxModel.zonesValue" ng-change= "toogleZonesLayer()" > Ver capa de zonas</label>
                            </div>
                        </form>
                    </div>
                </div> -->
                          <div uib-accordion-group class="panel-primary" heading="Zonas" is-open="false">
                            <!-- <div class="panel-body" ng-controller="mapZoneController"> -->
                              <div class="panel-body">
                                  <form>
                                      <div>
                                          <label><input type="checkbox" ng-model="checkboxModel.zonesValue" ng-change= "toogleZonesLayer()" > Ver capa de zonas</label>
                                      </div>
                                       <div class="checkbox" ng-repeat="zone in zonesJson">
                                           <label>
                                               <input type="checkbox" checklist-model="zonesJson"  checklist-value="zone.id" ng-model="selectedZone" ng-change= "selectZone(zone.name)"> [[zone.name]]
                                           </label>
                                        </div>
                                  </form>
                              </div>
                          </div>


            </uib-accordion>

            <!-- fin panel de control -->
        </nav>


        <!-- Mapa -->
        <div id="container-fluid-map">
            <div id="map" class="map">
                <div id="popup"></div>
            </div>
            <!-- fin mapa -->
        </div>
    </div>
