<!-- componentes que determinan las tabs que se muestran en la pantalla de inicio de la app -->
<!-- Contenedor del mapa -->

<div class="container-fluid" id="cont">
    <div class="row row-offcanvas row-offcanvas-left" id="row-offcanvas">
        <!-- Panel de control -->
        <nav class="col-sm-3 sidebar-offcanvas" id="sidebar">
            <uib-accordion close-others="true">
                <!-- Se agrego uib-accordion que se utiliza para los menues retractiles. -->
                <div class="panel-default" ng-controller="mapCentralityController">
                    <div uib-accordion-group class="panel-primary" heading="Centralidades" is-open="openMenuCentralities">
                        <form>
                            <div>
                                <label>
                                      <input type="checkbox" ng-click="checkAllCentralities()"> VER TODAS
                                </label>
                            </div>

                            <div class="checkbox" ng-repeat="centrality in getCentralities()">
                                <!-- <div class="checkbox" ng-repeat="centrality in centralitiesJson"> -->
                                <label>
                                      <input type="checkbox" ng-model="centrality.selected" ng-change= "selectCentrality(centrality)" > [[centrality.name]]
                                </label>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- menu de gestion de centralidades -->
                <div class="panel-default" ng-controller="mapCentralityEditController">
                    <div uib-accordion-group class="panel-primary" heading="Gestion de Centralidades" is-open="openMenuEditCentralities">
                        <form>
                            <div class="text-center form-group">
                                <button class="btn btn-primary" ng-disabled="isSelecting" ng-click="centralitySelection()">Agregar Centralidad</button>
                            </div>
                            <div class="container form-group" ng-hide="!isSelecting && !isEditing">
                                <p>*** [[inAction]] ***</p>
                                <p>Latitud: [[newCentrality.latitude == 0 ? 'No seleccionado' : newCentrality.latitude]]</p>
                                <p>Longitud: [[newCentrality.longitude == 0 ? 'No seleccionado' : newCentrality.longitude]]</p>
                            </div>
                            <div class="form-group text-center" ng-hide="!isSelecting && !isEditing">
                                <input class="form-control" type="text" ng-model="newCentrality.name" placeholder="Ingrese el nombre">
                                <input class="form-control" type="text" ng-model="newCentrality.location" placeholder="Ingrese una descripcion">
                            </div>
                            <div class="text-center form-group" ng-hide="!isSelecting && !isEditing">
                                <!-- Se utilizo el uib-tooltip para establecer el cartel que saldra al poner el cursor sobre cada boton. -->
                                <!-- ng-hide -> oculta un segmento o elemento si la expresion es true. -->
                                <!-- ng-disable -> desactiva un segmento o elemento si la expresion es true. -->
                                <button type="button" class="btn btn-default btn-sm" ng-click="enableDrawIndicator()" ng-disabled="!updatePointCentrality">Reubicar punto</button>
                                <button class="btn btn-success" ng-hide="!isEditing" uib-tooltip="Actualizar" ng-disabled="!isEditing || !newCentrality.name || !newCentrality.location || !newCentrality.latitude || !newCentrality.longitude" ng-click="centralityUpdate()">
                                              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-success" ng-hide="!isSelecting" uib-tooltip="Guardar" ng-disabled="!isSelecting || !newCentrality.name || !newCentrality.location || !newCentrality.latitude || !newCentrality.longitude" ng-click="centralitySave()">
                                              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-info" ng-disabled="!isSelecting && !isEditing" uib-tooltip="Cancelar" ng-click="centralityCancel()">
                                              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-danger" ng-disabled="!isEditing" uib-tooltip="Eliminar" ng-click="centralityDelete()">
                                              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>

                <!-- menu de zonas -->
                <div class="panel-default" ng-controller="mapZoneController">
                    <div uib-accordion-group class="panel-primary" heading="Zonas" is-open="false">
                        <form>
                            <div>
                                <label>
                                  <input type="checkbox"  ng-click="toogleZonesLayer()" > Ver todas
                                </label>
                            </div>

                            <div class="checkbox" ng-repeat="zone in zonesJson">
                                <label>
                                   <input type="checkbox" checklist-model="zonesJson"  checklist-value="zone.id" ng-model="zone.selected" ng-change= "selectZone(zone.name, zone)"> [[zone.name]]
                                </label>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- menu de opciones de recorridos -->
                <div class="panel-default" ng-controller="mapTripController">
                    <div uib-accordion-group class="panel-primary" heading="Recorridos" is-open="false">
                        <form>
                            <div>
                                <label><input type="checkbox" ng-model="selectRecorrido" ng-change= "checkAllTrips()" > Ver todos los recorridos</label>
                            </div>
                            <div class="checkbox" ng-repeat="trip in tripsJson">
                                <label>
                                   <input type="checkbox" checklist-model="tripsJson"  checklist-value="trip.id" ng-model="trip.selected" ng-change= "selectTrip(trip)"> recorrido [[trip.id]]
                                </label>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- menu de opciones de trayectos -->
                <div class="panel-default" ng-controller="mapJourneyController">
                    <div uib-accordion-group class="panel-primary" heading="Trayectos" is-open="false">
                        <form>
                            <div>
                                <label><input type="checkbox" ng-model="selectJourney" ng-change= "viewLayerJournies()" > Ver trayectos</label>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Menu de seleccion de un punto para conocer los recorridos cercanos -->
                <div class="panel-default" ng-controller="mapTripFinderController">
                    <div uib-accordion-group class="panel-primary" heading="Recorridos cercanos a un punto" is-open="openMenuTripFinder">
                        <form>
                            <div>
                                <div class="text-center form-group">
                                    <label><input type="checkbox" ng-disabled="!isPointCreated" ng-model="selectTripCloseToPoint.checkbox" ng-change="toogleViewTrips()" > Ver capa de recorridos cercanos</label>
                                </div>
                                <div class="container form-group">
                                    <p>[[selectedPoint.latitude == 0 && selectedPoint.longitude == 0 ? 'No hay un punto seleccionado' : 'Punto Seleccionado:']]</p>
                                    <p>Latitud: [[selectedPoint.latitude == 0 ? '-' : selectedPoint.latitude]]</p>
                                    <p>Longitud: [[selectedPoint.longitude == 0 ? '-' : selectedPoint.longitude]]</p>
                                </div>
                                <div class="text-center form-group">
                                    <button class="btn btn-primary" ng-disabled="selectedPoint.latitude == 0 || selectedPoint.longitude == 0" ng-click="getTripsCloseToSelectedPoint()">Ver recorridos cercanos</button>
                                </div>
                                <div class="text-center form-group">
                                    <button class="btn btn-primary" ng-disabled="selectedPoint.latitude == 0 || selectedPoint.longitude == 0" ng-click="resetLayerCloseToPoint()">Limpiar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="panel-default" ng-controller="tripsRankingController">
                    <div uib-accordion-group class="panel-primary" heading="Recorridos ponderados" is-open="openMenuRankingTrip">
                        <form>
                            <div class=" form-group">
                                <!-- <div>
                                    <label><input type="checkbox" ng-model="toogleViewTripsRanking" ng-change= "viewLayerTripsRanking()" > Mostrar capa</label>
                                </div> -->
                                <div class="range range-primary">
                                    <output>Ponderación min:</output>
                                    <input type="range" name="range"   min="1" max="100" value="1" onchange="rangeSuccess.value=value">
                                    <output id="rangeSuccess">1</output>
                                </div>
                                <!-- </div> -->
                                <br>
                                <div>
                                    <label label-primary>Filtro por turno:</label>
                                </div>
                                <!-- <div class="checkbox" ng-repeat="c in list">
                                    <label>
                                        <input type="checkbox" ng-model="c.selected" ng-change= "" > [[c.turno]]
                                  </label>
                                </div> -->

                                <button class="btn btn-block btn-primary" ng-disabled="" uib-tooltip="Filtrar" ng-click="findTripsRanking()">
                                              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>

                            </div>
                        </form>
                    </div>
                </div>

                <!-- Menu de Muestra de Recorridos por longitud -->
                <div uib-accordion-group class="panel-primary" heading="Recorridos por Rango de Longitud" is-open="false">
                    <div class="panel-body" ng-controller="mapTripByDistanceController">
                        <!-- <div class="panel-default" ng-controller="mapTripByDistanceController">
                    <div uib-accordion-group class="panel-primary" heading="Recorridos por KM de Longitud" is-open="false"> -->
                        <form>
                            <div>
                                <div class="text-center form-group">
                                    <label><input type="checkbox" ng-disabled="!isLayerByDistanceCreated" ng-model="selectTripByDistance.checkbox" ng-change="viewTripsToSelectedDistance()" > Ver capa de recorridos entre determinada distancia</label>
                                </div>
                                <div class="text-center form-group">
                                  <label> Minimo (Metros):</lavel>
                                    <input type="number" ng-model="longMin" min="100" max="15000" step="50">
                                </div>
                                <div class="text-center form-group">
                                  <label> Maximo (Metros):</lavel>
                                    <input type="number" ng-model="longMax" min="100" max="15000" step="50">
                                </div>
                                <div class="text-center form-group">
                                    <button class="btn btn-primary" ng-click="getTripsToSelectedDistance()">Ver recorridos</button>
                                </div>
                                <div class="text-center form-group">
                                    <button class="btn btn-primary" ng-click="resetLayerToSelectedDistance()">Limpiar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>



            </uib-accordion>

            <!-- fin panel de control -->
        </nav>

        <!-- Mapa -->
        <div id="container-fluid-map">
            <div id="map" class="map"></div>
        </div>
    </div>
